<div class="container h-100">
  <div class="htop">
    <h2 class="text-center">Создание доклада</h2>
    <form class="edit-form" onsubmit={{action "createReport"}}>
      <div class="form-group row">
        <label for="inputTitle" class="col-sm-2 col-form-label text-right">Спикер</label>
        <div class="col-sm-10">
          {{#power-select class="selectpicker form-control dropdown-filter-control" title="Спикер..." allowClear=true onchange=(action "changeSpeaker") options=model.speakers selected=selectedSpeaker searchField="fullName" as |speaker|}}
            {{speaker.fullName}}
          {{/power-select}}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputTitle" class="col-sm-2 col-form-label text-right">Название книги</label>
        <div class="col-sm-10">
          {{#power-select class="selectpicker form-control dropdown-filter-control" title="Книга..." allowClear=true onchange=(action "changeBook") options=model.books selected=selectedBook searchField="title" as |book|}}
            {{book.title}}
          {{/power-select}}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDescriptionURL" class="col-sm-2 col-form-label text-right">Презентация</label>
        <div class="col-sm-10">
          {{input type="url" class="form-control form-control-lg" placeholder="Ссылка на презентация" value=presentationURL}}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDescriptionURL" class="col-sm-2 col-form-label text-right">Видео</label>
        <div class="col-sm-10">
          {{input type="url" class="form-control form-control-lg" placeholder="Ссылка на видео" value=videoURL}}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAuthor" class="col-sm-2 col-form-label text-right">Отзыв</label>
        <div class="col-sm-10">
          {{textarea type="text" class="form-control form-control-lg" rows="5" placeholder="Отзыв о книге" value=review}}
          {{!-- {{input type="text" class="form-control form-control-lg" placeholder="Отзыв о книге" value=review}} --}}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 text-right">
          <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
          <button type="submit" class="btn btn-outline-secondary btn-lg" onclick={{action "goBack"}}>Отмена</button>
        </div>
      </div>
    </form>
  </div>
</div>